@model DemoNetCoreProject.Models.EmployeeDto



@* <h1>@ViewBag.Employee</h1> *@
<h1>Hello, Welcome @Model.Name</h1>

@if (@Model!= null)
{
    @* var employee = (DemoNetCoreProject.Models.EmployeeDto)ViewBag.Employee; *@
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Email:</strong> @Model.Email</p>
}
else
{
    <p>No employee data available.</p>
}